.advantages-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-section .list {
  display: flex;
  justify-content: space-between;
}

.advantages-section .item {
  width: calc((100% - 3 * 30px) / 4);
}

.advantages-section .item::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.antenna::before {
  background-image: url(../images/antenna.svg);
}

.clock::before {
  background-image: url(../images/clock.svg);
}

.diagram::before {
  background-image: url(../images/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.advantages-section .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
